<mat-drawer-container class="example-container">

    <mat-drawer-content style="background-color: #EFEFEF;">

        
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Symbol Column -->
              <ng-container matColumnDef="photoClient">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
            
                <td mat-cell *matCellDef="let element"> <img [src]="element.photoClient" height="55px"/> </td>
          
              </ng-container>
  
            <!-- Position Column -->
        
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let element"> {{element.nomClient}} </td>
            </ng-container>
          
            
            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef> Prenom </th>
              <td mat-cell *matCellDef="let element"> {{element.prenomClient}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="statuClient">
              <th mat-header-cell *matHeaderCellDef> Sattus </th>
              <td mat-cell *matCellDef="let element"> {{element.statuClient}} </td>
            </ng-container>
          
          
          
            <ng-container matColumnDef="tele">
              <th mat-header-cell *matHeaderCellDef> Tele </th>
              <td mat-cell *matCellDef="let element"> {{element.tele}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
        
              <ng-container matColumnDef="addressClient">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.addressClient}} </td>
              </ng-container>
                
              <ng-container matColumnDef="villclient">
                <th mat-header-cell *matHeaderCellDef> Ville </th>
                <td mat-cell *matCellDef="let element"> {{element.villclient}} </td>
              </ng-container>
        
              <ng-container matColumnDef="access">
                <th mat-header-cell *matHeaderCellDef> access </th>
                <td mat-cell *matCellDef="let element"> {{element.access}} </td>
              </ng-container>
        
           
        
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> action </th>
                <td mat-cell   *matCellDef="let row"> 
                <button mat-icon-button (click)="onEdit(row)" ><mat-icon>launch</mat-icon></button>
                <button mat-icon-button (click)="onDelete(row.id)"  color="warn"><mat-icon>delete_outline</mat-icon></button>
                  
                </td>
                
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
    </mat-drawer-content>
   
  </mat-drawer-container>

  