form.normal-form {
    margin: 10px;
    margin: 60px;
}
form.normal-form {
    margin: 10px;
    margin: 60px;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%
    ;
}
 .test{
    width: 90%;
 }
