


   
  
      

            <form [formGroup]="service.form" class="normal-form" (submit)="add()">
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controles-container">
                            <input type="hidden" formControlName="id">
                            <mat-form-field>
                                <input formControlName="nomF" matInput placeholder="Nom Fournisseur"/>
                              
                               
                            </mat-form-field>
                            <mat-form-field>
                                <input formControlName="nomCF" matInput placeholder="Nom Court de Fournisseur">
                                
                            
                            </mat-form-field>
                        
                            <mat-form-field>  <input formControlName="VilleF" matInput placeholder="Ville Fournisseur"> </mat-form-field>
                            <mat-form-field>
                                <input formControlName="AddrF"  matInput placeholder="Address de Fournisseur">
                            </mat-form-field>
                            <mat-form-field>
                                <input formControlName="TeleFixF" matInput placeholder=" Tele Fix de Fournisseur ">
                                
                            
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controles-container">
                         

                            <mat-form-field>  <input formControlName="TeleMF" matInput placeholder="Tele Mobile de Fournisseur"> </mat-form-field>
                           
                            <mat-form-field>   <input formControlName="FaxF" matInput placeholder="Fax de Fournisseur"></mat-form-field>
                          
                            <mat-form-field> <input formControlName="EmailF" matInput placeholder="Email de Fournisseur"> </mat-form-field>
                               
                        
                         
                              
                 
                            <div class="button-row">
                                <button mat-raised-button color="primary" type="submit" >Submit</button>
                  
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
            <div class="wrapper">
                <button style=" height: 50px; width: 60px;" mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
     

  
    
    


