


   
  
      

            <form [formGroup]="service.form" class="normal-form" (submit)="add()">
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controles-container">
                            <input type="hidden" formControlName="id">
                            <mat-form-field>
                                <input formControlName="nomClient" matInput placeholder="Nom"/>
                              
                               
                            </mat-form-field>
                            <mat-form-field>
                                <input formControlName="prenomClient" matInput placeholder="Prenom">
                                
                            
                            </mat-form-field>
                        
                            <mat-form-field>  <input formControlName="email" matInput placeholder="Email"> </mat-form-field>
                            <mat-form-field>
                                <input formControlName="photoClient" matInput placeholder="photo">
                            </mat-form-field>
                            <mat-form-field>
                                <input formControlName="statuClient" matInput placeholder="Status">
                                
                            
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controles-container">
                         

                            <mat-form-field>  <input formControlName="tele" matInput placeholder="Tele"> </mat-form-field>
                           
                            <mat-form-field>   <input formControlName="addressClient" matInput placeholder="Adress"></mat-form-field>
                          
                            <mat-form-field> <input formControlName="villclient" matInput placeholder="Ville"> </mat-form-field>
                               
                        
                                    
                            
                            <div class="add-bottom-padding">
                                <mat-checkbox formControlName="access">Accesse</mat-checkbox>
                            </div>
                            <div class="button-row">
                                <button mat-raised-button color="primary" type="submit" >Submit</button>
                                <button mat-raised-button color="warn" >Clear</button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
      

  
    
    


