
<header> 
    <mat-toolbar color="#fffff" style="height: 90px;">
     
      <span style="font-size: 20px;"> <b> </b>SmartVentes </span>
      <span style="flex: 1 1 auto;"></span>
      <div>
          <button mat-icon-button matTooltip="Switch Apps">
              <mat-icon>apps</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Notifications">
              <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="accountMenu">
              <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #accountMenu [overlapTrigger]="false" yPosition="below">
              <button mat-menu-item routerLink="#">
                  <mat-icon>person</mat-icon><span>My Account</span>
              </button>
              <button mat-menu-item>
                  <mat-icon>help</mat-icon><span>Help</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item>
                  <mat-icon>exit_to_app</mat-icon>Logout
              </button>
          </mat-menu>
      </div>
      
    </mat-toolbar>
    </header>
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened style="width: 300px; background-color: #343232;">
            <br> 
            <div class="top"> 
                <a routerLink="">   
            <button mat-icon-button matTooltip="Switch Apps">
                <i class="material-icons" style="color: aqua;">
                    add
                    </i>
            
             <span style="color: #7D7D7D; font-size : 20px; color: #EFEFEF;">Clients</span> 
            </button>
        </a>
        </div>
        <br> 
        <div>
            <a routerLink="/produit">   
            <button mat-icon-button matTooltip="Notifications">
                <i class="material-icons" style="color: aqua;">
                    add
                    </i>
                <span style="color: #7D7D7D; font-size : 20px; color: #EFEFEF;">Produits</span> 
               
            </button>
            </a>
        </div>
        <br> 
        <div>
            <a routerLink="/fournisseur">   
            <button mat-icon-button matTooltip="My Account">
                <i class="material-icons" style="color: aqua;">
                    add
                    </i>
                <span style="color: #7D7D7D; font-size : 20px; color: #EFEFEF;">Fournisseurs</span> 
            </button>
        </a>
        </div>
        <br> 
    
        </mat-drawer>
        <mat-drawer-content style="background-color: #EFEFEF;">
            <mat-toolbar color="accent" style="height: 120px;">
                <button mat-icon-button matTooltip="Application Menu" >
                  
                </button>
                <span style="color: #EFEFEF; ">Dossier Client</span> 
                <span style="flex: 1 1 auto;"></span>
                <div>
                  
                    <button mat-icon-button matTooltip="My Account">
                        <i class="material-icons">
                            search
                            </i>
                    </button>
                  
                </div>
                
              </mat-toolbar>
              <ul>
                <li>  <a routerLink="/list">   
            <button mat-raised-button  >
                
                <i class="material-icons">
                    list
                    </i>
                <span style=" font-size : 15px; color: #000000;"> List Clients</span> 
               
            </button>
     
                </a></li>
                <li>  <a routerLink="/listproduit">   
                    <button  mat-raised-button  >
                        
                        <i class="material-icons">
                            list
                            </i>
                        <span style=" font-size : 15px; color:#000000;"> List Porduits</span> 
                       
                    </button>
             
                        </a></li>
                        <li>  <a routerLink="/listfournisseur">    
                            <button  mat-raised-button  >
                                
                                <i class="material-icons">
                                    list
                                    </i>
                                <span style=" font-size : 15px; color:#000000;"> List Fournisseurs</span> 
                               
                            </button>
                     
                                </a></li>

                        
              
              </ul>
              <router-outlet></router-outlet>
       </mat-drawer-content>
        
        
    </mat-drawer-container>
    