


   
  
      

            <form [formGroup]="service.form" class="normal-form" (submit)="add()">
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="controles-container">
                            <input type="hidden" formControlName="id">
                            <mat-form-field>
                                <input formControlName="nomP" matInput placeholder="Nom Produit"/>
                              
                               
                            </mat-form-field>
                            <mat-form-field>
                                <input formControlName="nomCP" matInput placeholder="Nom Court de Produit">
                                
                            
                            </mat-form-field>
                        
                            <mat-form-field>  <input formControlName="prixBase" matInput placeholder="Prix de base"> </mat-form-field>
                            <mat-form-field>
                                <input formControlName="prixVente"  matInput placeholder="Prix de vente">
                            </mat-form-field>
                            <mat-form-field>
                                <input formControlName="seuilMax" matInput placeholder="Seuil Max ">
                                
                            
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="controles-container">
                         

                            <mat-form-field>  <input formControlName="unite" matInput placeholder="Unite"> </mat-form-field>
                           
                            <mat-form-field>   <input formControlName="imageP" matInput placeholder="Image de produit"></mat-form-field>
                          
                            <mat-form-field> <input formControlName="qteInitial" matInput placeholder="Quantité initial"> </mat-form-field>
                               
                        
                            <mat-form-field> 
                            
                                <input formControlName="qteActual" matInput placeholder="Quantité Actual">
                             </mat-form-field>
                              
                 
                            <div class="button-row">
                                <button mat-raised-button color="primary" type="submit" >Submit</button>
                  
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
            <button style="margin-left: 500px; height: 50px; width: 60px;" mat-raised-button color="warn" (click)="onClear()">Clear</button>

  
    
    


